h1 {
    color: blue;
}
body {
    background-image: url("sesa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightblue;
    min-height: 100vh;
}
button {
    color: green;
    background-color: indigo;
}
.reign {
    background: rgba(255, 255, 255, 0.972);
    color: #000;
}
H3 {
    color: rgb(255, 192, 227);
}
.will {
    background: rgba(255, 255, 255, 0.315);
}
.vel {
    color: orange;
    background: rgba(255, 255, 255, 0.315);
}
.er {
    color: blue;
}
.rik {
color: darkblue; 
}